<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Template</title>
    <meta name="description" content="The HTML5 Template">
    <meta name="author" content="Garrett Reed">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="styles/bundle.css">

</head>
<body>
    <h1>This should be red.</h1>

    {{> ../partials/part }}

    <img src="img/Rick-and-Morty1.jpg" alt="Rick and Morty" width="100px" />
    
    <h2>There should be a js-created element at the bottom of the page</h2>

    <script src="js/bundle.js"></script>
</body>

</html>
